body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
label {
    font-size: 24px;
    margin-bottom: 30px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    font-size: 20px;
    padding: 10px;
    width: 250px;
    margin-right: 16px;
}

button {
    font-size: 20px;
    padding: 10px;
    background-color: cornflowerblue ;
    color: white;
    border: 2px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: royalblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 20px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

li input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 50px;
}

li button {
    margin-left: auto;
    margin-right: 1275px;
    background-color: indianred ;
}

li button:hover {
    background-color: brown;
}